services:
  discord-bot:
    build: .
    container_name: asmo-server
    restart: always
    env_file:
      - .env
    environment:
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DISCORD_CLIENT_ID=${DISCORD_CLIENT_ID}
      - DISCORD_CLIENT_SECRET=${DISCORD_CLIENT_SECRET}
      - ALLOWED_ORIGIN_URL=${ALLOWED_ORIGIN_URL}
      - DISCORD_TOKEN=${DISCORD_TOKEN}
      - MCP_BEARER_TOKEN=${MCP_BEARER_TOKEN}
      - AI_ENDPOINT=${AI_ENDPOINT}
    volumes:
      - ./.env:/app/.env:ro
    ports:
      - "8080:8080"
    logging:
      driver: "json-file"
      options:
        max-size: "10mb"
